*{
    margin:0;
    padding:0;
}

.btn{
    /* background-color: blue; */
    text-decoration: none;
    border-radius: 7px;
    width: 100px;
    height: 27px;
    color:beige;
    
}
body{
    background-color: gray;
    color:antiquewhite;
}
.skills{
    border: 2px solid black;
}

.projects{
    border: 2px solid black;
}

.contact{
    border: 2px solid black;
}