body{
    color: white;
    background-color: Black;
    
    
}

.main-container{
    display:flex;
    justify-content: center;
}

.flexbox{
    width:500px;
    margin: 10px;
    border: 2px solid white;

}
.box-1{
   min-height: 400px;
    
    
    
}

.box-2{
    min-height: 400px;
    
    
}

.box-3{
    min-height: 400px;
    
    
    
    
}

.box-4{
    min-height: 400px;
    
    
    
}


.footer{
    /* background-color: var(--primary);
    padding: 2rem 0rem;
    text-align: center;
    color: black;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.1rem; */
}


.social-icon{
    color: blue;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 10px;
}

.social-icon-black{
    color: black;
    transition: color 0.2s;
    margin: 0 10px;


}

.social-icon-red{
    transition: color 0.2s;
    margin: 0 10px;

}

.social-icon:hover{
    color: black;
}

.social-icon-black:hover{
    color: black;
}


/* media queries to add responsiveness in the website */
@media all and (max-width: 500px){
    body{
        color:blue;
        max-width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

  


