/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
} */
body, html{
    background-color: black;
    color: white;
    
    

}

.container-2{
    border-style: solid;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    color: black;
   
}

.container-3{
    
    text-align: center;
}







  










